@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'sidebar.scss';

// Global overrides

h1 {
  font-size: 2.4em;

  &.special {
    font-family: 'Permanent Marker';
    font-display: swap;
    margin-bottom: 0.3em;
  }
}

h2 {
  font-size: 1.7em;
  font-weight: 600;
  margin-bottom: 0.5em;

  &.special {
    font-size: 2.4em;
    font-family: 'Permanent Marker';
    margin-bottom: 0.3em;
  }
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

h5 {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

p {
  text-align: justify;
}

p,
pre {
  margin-bottom: 1em;
}

img {
  border-radius: 0.3em;
}

.cornsilk {
  color: cornsilk;
}

.navy {
  color: rgb(30, 48, 80);
}

// Post Styles

.postList {
  margin-bottom: 1.2em;

  a:hover {
    text-decoration: underline;
  }
}

.post {
  blockquote {
    font-weight: 500;
    font-size: 1.2rem;
    font-style: italic;
    padding: 15px;
    margin: 15px 0;
    border-radius: 0.5rem;

    background-color: #ff8668;
    color: black;

    a {
      text-decoration: underline;
    }

    p {
      margin-bottom: 0.3rem;
    }
  }

  ul,
  ol {
    padding: 0 1em 1em 1em;
    margin-left: 1em;
  }

  li {
    list-style-type: square;
  }

  img {
    max-height: 35em;
    margin: 0 auto;
  }

  a {
    @apply text-sky-500;

    &:hover {
      text-decoration: underline;
    }
  }
}

.activeNavLink {
  border-bottom: 4px solid #a9beef;
}

// 404.tsx

.errorpage {
  position: relative;

  figure {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

svg {
  color: rgb(30, 48, 80);
}

.input-container {
  padding: 0.7em 0;
  position: relative;
}

.url-input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #f0f0f0;
  color: #888888;
  border-radius: 4px;
  cursor: pointer;
  background-color: inherit;

  &:focus,
  &:active {
    outline: none;
  }
}

.copied-animation {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(29, 31, 33);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  opacity: 1;
  animation: fadeOutUp 1.5s forwards;
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
}
