@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'sidebar.scss';

// Global overrides

h1 {
  font-size: 2.4em;

  &.special {
    font-family: 'Permanent Marker';
    font-display: swap;
    margin-bottom: 0.3em;
  }
}

h2 {
  font-size: 1.7em;
  font-weight: 600;
  margin-bottom: 0.5em;

  &.special {
    font-size: 2.4em;
    font-family: 'Permanent Marker';
    margin-bottom: 0.3em;
  }
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

h5 {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

p {
  text-align: justify;
}

p, pre {
  margin-bottom: 1em;
}

img {
  border-radius: 0.3em;
}

.cornsilk {
  color: cornsilk;
}

// Post Styles

.postList {
  margin-bottom: 1.2em;

  a:hover {
    @apply text-gray-800 hover:text-gray-600 dark:text-gray-100 dark:hover:text-gray-300
  }
}

.post {
  blockquote {
    font-size: 1.2em;
    font-weight: 600;
    font-style: italic;
    border-left: .4em solid lightgray;
    padding-left: 20px;
  }

  ul, ol {
    padding: 0 1em 1em 1em;
    margin-left: 1em;
  }

  li {
    list-style-type: square;
  }

  img {
    max-height: 35em;
    margin: 0 auto;
  }
}

.activeNavLink {
  border-bottom: 4px solid #a9beef;
}

// footer

.post-footer {
  background-color: #FF8668;
  color: black;

  a {
    text-decoration: underline;
  }
}

// 404.tsx

.errorpage {
  position: relative;

  figure {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

svg {
  color: black;
}

.input-container {
  padding: .7em 0;
  position: relative;
}

.url-input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dddddd;
  color: #888888;
  border-radius: 4px;
  cursor: pointer;
  background-color: inherit;

  &:focus,
  &:active {
    outline: none;
  }
}

.copied-animation {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  opacity: 1;
  animation: fadeOutUp 1.5s forwards;
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
}
