html,
body {
  padding: 0;
  margin: 0;
  background-color: #000C10;
  color: white;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1.1em;
}

nav.navbar {
  background-color: #000C10;
}

.header {
  background-color: #000C10;
  margin-bottom: 40px;
}

.btn-outline-primary {
  color: #FFBFDE;
  border-color: #FFBFDE;
  width: 140px;
}

.btn-outline-primary:hover {
  color: #000C10;
  border-color: #FFBFDE;
  background: #FFBFDE;
}

.content {
  text-align: justify;
}

.highlight {
  color: #FFBFDE;
  font-style: italic;
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 850px;
  }
}

@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
      max-width: 850px;
  }
}