html,
body {
  padding: 0;
  margin: 0;
  background-color: #000C10;
  color: white;
}

h1 {
  font-size: 2em;
}

h1.special {
  font-size: 2.4em;
  font-family: 'Permanent Marker';
}

h1.heading, h2, h3 {
  color: #fecc9d;
}

p {
  font-size: 1.1em;
}

a {
  color: #c0c0c0;
  text-decoration: none;
}

.silver {
  color: #c0c0c0;
}

a:hover {
  color: #fecc9d;
  font-weight: 500;
}

div.avatarContainer {
  width: 150px;
  height: 150px;
  margin: 15px auto 5px auto;
  overflow: hidden;
}

img.avatar {
  border-radius: 50%;
  transition: all 0.5s ease 0s;
}

img.avatar:hover {
  webkit-filter: hue-rotate(90deg); /* Chrome, Safari, Opera */
  filter: hue-rotate(90deg);
}

nav.navbar {
  background-color: #000C10;
}

.navbar-nav {
  flex-direction: inherit;
}

.header {
  background-color: #000C10;
  margin-bottom: 40px;
}

.btn {
  margin: 0 5px;
}

.btn-primary {
  color: #000C10;
  border-color: #a0a8fd;
  background: #a0a8fd;
  width: 120px;
}

.btn-primary:hover {
  color: #000C10;
  background: #a0a8fd;
}

.btn-outline-primary {
  color: #a0a8fd;
  border-color: #a0a8fd;
  width: 120px;
}

.btn-outline-primary:hover {
  color: #000C10;
  border-color: #a0a8fd;
  background: #a0a8fd;
}

.content {
  text-align: justify;
}

.highlight {
  color: #FFBFDE;
  font-style: italic;
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 850px;
  }
}

@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
      max-width: 850px;
  }
}

ul.social {
  list-style: none;
  margin-bottom: .2em;
  padding-left: 0;
}

ul.social li {
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px 0;
}

ul.social svg {
  height: 1em;
}
